/*
    CSS comments are a little different from HTML comments.
*/
html {
    font-size: 22px;
}

body {
    font-family: cursive;
    background: linear-gradient(#16b4ac, #2AA9FF);
    color: white;
    max-width: 700px;
    margin: 0 auto;
}
h1{
  text-decoration: underline;
}

.logo {
  font-size: 30px;
}

.sound {
  max-width: 300px;
  margin: 0 auto;
}

.audio-subtitle {
  font-size: 16px;
  text-align: center;
}

#image {
  max-width: 300px;
  margin: 0 auto;
  border: 5px solid rgb(17, 238, 113);
}

header,
footer,
.main-header {
  text-align: center;
}

header {
  margin-bottom: 2rem;
}


footer {
  margin-top: 2rem;
  font-style: italic;
}